<% layout("layouts/boilerplate") %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="post" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-lable">TITLE</label>
                    <input class="form-control" type="text" name="campground[title]" id="title"
                        value="<%= campground.title %> " required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-lable">LOCATION</label>
                    <input type="text" name="campground[location]" class="form-control" id="location"
                        value="<%= campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="images" class="form-lable">ADD IMAGE(S)</label>
                    <input type="file" name="images" id="images" class="form-control" multiple>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-lable">$</span>
                        <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.00"
                            aria-label="Username" aria-describedby="price-label" value="<%= campground.price %> "
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descrption</label>
                    <textarea class="form-control" id="description" name="campground[description]" rows="3"
                        required><%= campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3 row">
                    <% campground.images.forEach(function(image,i){ %>
                        <div class="col-lg-6">
                            <img src="<%=image.thumbnail  %> " class="img-thumbnail rounded" alt="">
                            <div class="form-check-inline">
                                <input type="checkbox" id="image-<%= i%>" name="deleteImages[]"
                                    value="<%=image.filename%>">
                                <label for="image-<%= i%>">Delete?</label>

                            </div>
                        </div>

                        <% }) %>
                </div>
                <button class="btn btn-info mb-3">Update Campground</button>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Back to campground</a>
        </div>
    </div>